<!DOCTYPE html>
<html lang="ZH-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>登陆</title>
<link rel="stylesheet" th:href="@{'/plugins/css/layui.css'}" th:id="layui">
<link rel="stylesheet" th:href="@{'/css/login.css'}">
<style type="text/css">
  	#code{  
	         font-family:Arial;  
	         font-style:italic;  
	         font-weight:bold;  
	         border:0;  
	         letter-spacing:2px;  
	         color:blue;  
         }
  </style>
</head>
<body>
	<div class="kit-login">
    <div class="kit-login-bg"></div>
    <div class="kit-login-wapper">
    	<h2 class="kit-login-slogan">欢迎使用<br>.....</h2>
      	<div class="kit-login-form">
        	<h4 class="kit-login-title" style="color: #FF5722">登录</h4>
        	<form class="layui-form" method="post">
	        	<div class="kit-login-row">
	            	<div class="kit-login-col">
	              		<i class="layui-icon">&#xe66f;</i>
	              		<span class="kit-login-input">
	                		<input type="text" name="account" id="account" lay-verify="account|required" placeholder="请输入账号" />
	              		</span>
	            	</div>
	            	<div class="kit-login-col"></div>
	          	</div>
	          	<div class="kit-login-row">
	          		<div class="kit-login-col">
	              		<i class="layui-icon">&#xe673;</i>
	              		<span class="kit-login-input">
	                		<input type="password" name="password" id="password" lay-verify="password|required" placeholder="请输入密码" />
	             	 	</span>
	            	</div>
	            	<div class="kit-login-col"></div>
	          	</div>
	          	<div class="kit-login-row" style="flex-direction:initial;">
	          		<div class="kit-login-col">
	              		<i class="layui-icon">&#xe679;</i>
	              		<span class="kit-loginvalidate-input">
	                		<input type="text" name="validateCode" id="validateCode" lay-verify="validateCode|required" placeholder="请输入验证码" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')" onchange="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')"/>
	             	 	</span>
	            	</div>
	            	<div class="kit-login-col">
	            		<img id = "validateImage"/>
	            	</div>
	          	</div>
		  <!--
          <div class="kit-login-row">
            <div class="kit-login-col">
              <input type="checkbox" name="rememberMe" id="rememberMe" title="记住帐号" lay-skin="primary">
            </div>
          </div>
           -->
          		<div class="kit-login-row">
            		<button class="layui-btn layui-btn-warm kit-login-btn" lay-submit="submit" lay-filter="login_hash">登录</button>
          		</div>
         	</form>
      	</div>
   	 </div>
  	</div>
<script th:src="@{'/js/jquery.min.js'}"></script>
<script th:src="@{'/js/MD5.js'}"></script>
<script th:src="@{'/plugins/layui.js'}"></script>
<script type="text/javascript">
	if($("#isParent", window.parent.document).val() != undefined){
	    window.parent.location.href='/login.html';
	}
	var _validateCode;
	layui.use(['jquery', 'layer','form'], function () {
		// 获取验证码
		$.ajax({
			url:'/validatecode',
			type:'post',
			dataType:'json',
			success:function(resp) {
				$('#validateImage').attr("src",resp.result);
				_validateCode = resp.validateCode;
			},
		})
		var form = layui.form;
		form.verify({
			account: function(value){
               if(value == 0){
                   return '请输入账号!';
               }
           }
           ,password: function(value){
               if(value.length == 0){
                   return '请输入密码!';
               }
           },validateCode: function(value) {
        	   if (value.length == 0) {
        		   return '请输入验证码!';
        	   }
        	   if (value.length < 4) {
        		   return '验证码不正确!';
        	   }
        	   if (value.toUpperCase() != _validateCode.toUpperCase()) {
        		   return '验证码不正确!';
        	   }
           }
        });
		
		//验证码点击刷新
		$('#validateImage').on('click',function(){
			validateCode();
		});
		
		form.on('submit(login_hash)',function(data) {
			login();
			return false;
		})
	})
	
	function validateCode(){
		$.ajax({
			url:'/validatecode',
			type:'post',
			dataType:'json',
			success:function(resp) {
				$('#validateImage').attr("src",resp.result);
				_validateCode = resp.validateCode;
			},
		})
	}
	
	function login(){
		var account = $('#account').val();
		var password = MD5($('#password').val());
		var load = layer.load();
		$.ajax({
			url:'/login',
			data:{account:account,password:password},
			type:'POST',
			beforeSend:function() {
                layer.msg('正在登录...');
            },
            success:function(result) {
            	layer.close(load);
            	if (result.code == 200) {
            		layer.msg('登录成功');
                    setTimeout(function(){
                    	//登录返回
                        window.location.href = "/index";
                    },1000)
            	} else {
                    $('#password').val('');
            		layer.msg(result.msg);
            		validateCode();
            		return;
             	}
            },
            error:function(e) {
                var msg = e.msg;
                layer.msg(msg,new Function());
            }
		})		  
	}
	
  	</script>
</body>
</html>