<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">用户信息管理</div>
                <div class="layui-card-body">
                    <div class="layui-card-header">
                        <a id="add" shiro:hasAnyPermissions="admin,user:all,user:add" class="layui-btn layui-btn-xs">
                            <i class="layui-icon"></i>
                            <span>新增</span>
                        </a>
                        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
                            <i class="layui-icon">&#xe615;</i>
                        </a>
                    </div>
                    <table class="layui-table" id="user_table" lay-filter="tools"></table>
                    <script type="text/html" id="checkLock">
                        <input shiro:hasAnyPermissions="admin,user:all" type="checkbox" name="enabled" value="{{d.id}}" lay-skin="switch" lay-text="Yes|No" lay-event="lock" lay-filter="lockDemo" {{ d.enabled == 1 ? 'checked' : '' }}>
                    </script>
                    <script type="text/html" id="operation">
                        <button shiro:hasAnyPermissions="admin,user:all,user:update" class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
                        <button shiro:hasAnyPermissions="admin,user:all,user:delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(function() {
		layui.use(["jquery", "sidebar", "form", "table"], function() {
			var layer = layui.layer;
			var sidebar = layui.sidebar;
			var form = layui.form;
			var table = layui.table;
			
			// 渲染表格
			table.render({
				elem: '#user_table'
				,url: '/user/selectUser'
				,page: true
				,id: 'ID'
				,cellMinWidth: 50 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
				,cols:[
					[
						{field:'id', align:'center', width:60,title:'编号'}
						,{field:'userName', width:90, title:'用户名'}
						,{field:'account', width:90, title:'用户账号'}
						,{field:'sex', width:60, title:'性别'}
						,{field:'age', width:60, title:'年龄'}
						,{field:'mail', width:165, title:'邮箱'}
						,{field:'gmtCreate', title:'创建时间'}
						,{field:'latelySignInTime', title:'最近登录'}
						,{field:'enabled', align: 'center', width: 115, toolbar: '#checkLock', title: '是否允许登录'}
						,{field:'operation',align:'center', width:140, toolbar: '#operation', title: '操作',fixed: 'right'}
					]
				]
			})
		})
	})
</script>